
body{
    background-attachment: fixed;
   
}
h1{
    position: relative;
    color: white;    
    text-align: center;
    padding-top:20% ;   
}
.navigation {
    position: absolute;
    top: 35px;
    right: 25px;
    color: white;
    list-style: none;
    padding: 20px;
    
}
.navigation li {
    display: inline-block;
    margin-right: 60px;
    
}
.navigation a {
    text-decoration: none;
    color: inherit;    
}
.navigation a:hover {
    text-decoration: none;
    color: rgb(176, 176, 176);
}

#myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
#onasvideo {
    width: 100vw;
    height: 30vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
#galeriavideo {
    width: 100vw;
    height: 30vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#logo{
    width: 100px;
    height: auto;
    padding-left: 45px;
    padding-top: 25px;
}

#kontaktimage{
     width: 100vw;
        height: 30vh;
        object-fit: cover;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
}
#sluzbyimage {
    width: 100vw;
    height: 30vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#textonas {    
    text-align: center;
    padding-top: 140px; 
    font-size: 25px;
    position: absolute;
    top: 20%;
    left: 15%;
}
#zoznam{
    text-align: left;
    padding-left: 20%;
    
}
#nametitle{
    color: aliceblue;
    font-size: 3em;
    position: absolute;
    top: 5%;  
    left: 47%;   
}
#kontaktinfromacie{
    position: absolute;
    top: 40%;
    left: 5%;
   
}

form{
    padding-top: 15%;
    padding-left: 40%;   
    padding-right: 220px;  
}
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical

}
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
     margin-top: 6px;  
    margin-bottom: 16px;
    resize: vertical
}
        
button {
    background-color: #000000;
    margin-top: 10px;  
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4d504f;
    color: rgb(255, 255, 255);     
}

 .teamsection {
    position: absolute;
    top: 90%;
    width: 100%;
    text-align: center;
    padding: 50px 0;
    background-color: #f2f2f2;
 }
    

 .teammember {
     display: inline-block;
     margin: 40px;
     padding: 40px;
     background-color: #fff;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    }
 

 .teammember img {
     border-radius: 50%;
     max-width: 150px;
     height: auto;
    
 }

 .teammember h3 {
     margin-top: 10px;
    
 }

